.slider .thumb {
    -fx-background-image :url("../../Ressources/Assets/sliderMoveable.png");
    -fx-padding: 22;
    -fx-pref-height: 42;
    -fx-pref-width: 44;

    -fx-background-color:transparent;
}
.slider .track {
    -fx-background-color: #3f4045;
    -fx-background-radius: 1;
    -fx-background-insets: 1 0 1 0;
}
.split-pane-divider {
    -fx-background-color: #191919;
    -fx-padding: 0;
}
.importButton {
    -fx-background-color: TRANSPARENT;
    -fx-border-color: #4490ff;
    -fx-border-width: 2;
}
.scroll-pane {
    -fx-background-color: TRANSPARENT;
}
.scroll-pane > .viewport {
    -fx-background-color: TRANSPARENT;
}
.scroll-pane > .corner {
    -fx-background-color: TRANSPARENT;
}
.scroll-bar:vertical{
    -fx-background-color:TRANSPARENT;
}
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: "";
    -fx-padding:0;
}
.scroll-bar:vertical .track{
    -fx-background-color: TRANSPARENT;
    -fx-border-color: TRANSPARENT;
    -fx-background-radius: 0;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #1b1b1b;
    -fx-background-insets: 0 -2 0 -2;
}
.lastOpenedText {
    -fx-fill: LIGHTGRAY;
    -fx-font-family: "Champagne & Limousines";
    -fx-font-size: 30;
}
.lastOpenedText:hover {
    -fx-fill: GRAY;
}
.lastOpenedDeleter {
     -fx-image: url("../../Ressources/Assets/lastOpenedDeleter.png");
 }
.lastOpenedDeleter:hover {
    -fx-image: url("../../Ressources/Assets/lastOpenedDeleterHover.png");
}
.backButton {
    -fx-image: url("../../Ressources/Assets/backArrow.png");
}
.backButton:hover {
    -fx-image: url("../../Ressources/Assets/backArrowHover.png");
}
.ioChooserNothing {
    -fx-image: url("../../Ressources/Assets/ioNothing.png");
}
.ioChooserNothing:hover {
    -fx-image: url("../../Ressources/Assets/ioNothingHover.png");
}
.ioChooserInput {
    -fx-image: url("../../Ressources/Assets/ioInput.png");
}
.ioChooserInput:hover {
    -fx-image: url("../../Ressources/Assets/ioInputHover.png");
}
.ioChooserOutput {
    -fx-image: url("../../Ressources/Assets/ioOutput.png");
}
.ioChooserOutput:hover {
    -fx-image: url("../../Ressources/Assets/ioOutputHover.png");
}
