.optionsButton {
    -fx-image: url("../../Ressources/optionsButton.png");
}
.optionsButton:hover {
    -fx-image: url("../../Ressources/optionsButtonHover.png");
}
.closeButton {
    -fx-image: url("../../Ressources/closeButton.png");
}
.closeButton:hover {
    -fx-image: url("../../Ressources/closeButtonHover.png");
}
.minmaxButton {
    -fx-image: url("../../Ressources/minmaxButton.png");
}
.minmaxButton:hover {
    -fx-image: url("../../Ressources/minmaxButtonHover.png");
}
.minimizeButton {
    -fx-image: url("../../Ressources/minimizeButton.png");
}
.minimizeButton:hover {
    -fx-image: url("../../Ressources/minimizeButtonHover.png");
}