.optionsButton {
    -fx-image: url("../../Ressources/Assets/optionsButton.png");
}
.optionsButton:hover {
    -fx-image: url("../../Ressources/Assets/optionsButtonHover.png");
}
.closeButton {
    -fx-image: url("../../Ressources/Assets/closeButton.png");
}
.closeButton:hover {
    -fx-image: url("../../Ressources/Assets/closeButtonHover.png");
}
.minmaxButton {
    -fx-image: url("../../Ressources/Assets/minmaxButton.png");
}
.minmaxButton:hover {
    -fx-image: url("../../Ressources/Assets/minmaxButtonHover.png");
}
.minimizeButton {
    -fx-image: url("../../Ressources/Assets/minimizeButton.png");
}
.minimizeButton:hover {
    -fx-image: url("../../Ressources/Assets/minimizeButtonHover.png");
}