.mainPane {
    -fx-background-color: #2f2f2f;
}
.borderPane {
    -fx-padding: 0 0 0 15;
    -fx-background-color: TRANSPARENT;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: BLACK;
}
.borderText {
    -fx-font-family: "LEIXO DEMO";
    -fx-font-size: 15pt;
    -fx-text-fill: #b8b8b8;
}
.borderLabel {
    -fx-font-family: "Champagne & Limousines";
    -fx-font-size: 16pt;
    -fx-fill: #b2b2b2;
}
.borderLabel:hover {
    -fx-background-color: #555555;
}
.toolsMenuButton {
    -fx-image: url("../../Resources/toolsMenuButton.png");
}
.closeButton {
    -fx-image: url("../../Resources/closeButton.png");
}
.closeButton:hover {
    -fx-image: url("../../Resources/closeButtonHover.png");
}
.closeButton:pressed {
    -fx-image: url("../../Resources/closeButtonPressed.png");
}
.minmaxButton {
    -fx-image: url("../../Resources/minmaxButton.png");
}
.minmaxButton:hover {
    -fx-image: url("../../Resources/minmaxButtonHover.png");
}
.minmaxButton:pressed {
    -fx-image: url("../../Resources/minmaxButtonPressed.png");
}
.minimizeButton {
    -fx-image: url("../../Resources/minimizeButton.png");
}
.minimizeButton:hover {
    -fx-image: url("../../Resources/minimizeButtonHover.png");
}
.minimizeButton:pressed {
    -fx-image: url("../../Resources/minimizeButtonPressed.png");
}