.slider .thumb {
    -fx-background-image :url("../../Ressources/sliderMoveable.png");
    -fx-padding: 22;
    -fx-pref-height: 42;
    -fx-pref-width: 44;

    -fx-background-color:transparent;
}
.slider .track {
    -fx-background-color: #3f4045;
    -fx-background-radius: 1;
    -fx-background-insets: 1 0 1 0;
}